<div>
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-box">
			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Name:</strong>
			  <%= @team.name %>
			</p>

			<p>
			  <strong>Wins:</strong>
			  <%= @team.wins %>
			</p>

			<p>
			  <strong>Loses:</strong>
			  <%= @team.loses %>
			</p>

			<%= link_to 'Edit', edit_team_path(@team) %> |
			<%= link_to 'Back', teams_path %>
		</div>
	</div>
</div>