<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.check_box :publishable %> <%= f.label :publishable %>
  </div>
  <hr style="height:2px;background-color:gray">
  <div class="field">
    <%= f.text_area :part1, class: "text-area", placeholder: "Article Part 1" %>
  </div>

  <div class="field">
    <%= f.label "Question 1" %><br>
    <%= f.text_field :quiz1, class: "form-control", placeholder: "Question 1" %>
  </div>
  <div class="field">
      &bull; <%= f.label "Question 1 Correct Answer" %><br>
      <%= f.text_field :q1answer, class: "form-control", placeholder: "Type CORRECT answer here" %>
  </div>
  <div class="field">
      &bull; <%= f.label "Question 1 Incorrect Answer" %><br>
      <%= f.text_field :q1wrong1, class: "form-control", placeholder: "Type INCORRECT answer here" %>
  </div>
  <div class="field">
      &bull; <%= f.label "Question 1 Incorrect Answer" %><br>
      <%= f.text_field :q1wrong2, class: "form-control", placeholder: "Type INCORRECT answer here" %>
  </div>
  <hr style="height:2px;background-color:gray">
  <div class="field">
    <%= f.text_area :part2, class: "text-area", placeholder: "Article Part 2" %>
  </div>
  <div class="field">
    <%= f.label "Question 2" %><br>
    <%= f.text_field :quiz2, class: "form-control", placeholder: "Question 2" %>
  </div>
  <div class="field">
    &bull; <%= f.label "Question 2 Correct Answer" %><br>
      <%= f.text_field :q2answer, class: "form-control", placeholder: "Type CORRECT answer here" %>
  </div>
  <div class="field">
    &bull; <%= f.label "Question 2 Incorrect Answer" %><br>
      <%= f.text_field :q2wrong1, class: "form-control", placeholder: "Type INCORRECT answer here" %>
  </div>
  <div class="field">
    &bull; <%= f.label "Question 2 Incorrect Answer" %><br>
      <%= f.text_field :q2wrong2, class: "form-control", placeholder: "Type INCORRECT answer here" %>
  </div>
  <hr style="height:2px;background-color:gray">
  <div class="field">
    <%= f.text_area :part3, class: "text-area", placeholder: "Article Part 3" %>
  </div>
  <div class="field">
    <%= f.label "Question 3" %><br>
    <%= f.text_field :quiz3, class: "form-control", placeholder: "Question 3" %>
  </div>
  <div class="field">
    &bull; <%= f.label "Question 3 Correct Answer" %><br>
      <%= f.text_field :q3answer, class: "form-control", placeholder: "Type CORRECT answer here" %>
  </div>
  <div class="field">
    &bull; <%= f.label "Question 3 Incorrect Answer" %><br>
      <%= f.text_field :q3wrong1, class: "form-control", placeholder: "Type INCORRECT answer here" %>
  </div>
  <div class="field">
    &bull; <%= f.label "Question 3 Incorrect Answer" %><br>
      <%= f.text_field :q3wrong2, class: "form-control", placeholder: "Type INCORRECT answer here" %>
  </div>
  <hr style="height:2px;background-color:gray">
  <div class="field">
    <%= f.label :video %><br>
    <%= f.text_field :video, class: "form-control", placeholder: "Past URL here" %>
  </div>
  <div>
    <%= f.submit "Create Article", class: "btn btn-success" %>
  </div>
<% end %>
