<p id="notice"><%= notice %></p>



<p>
  <strong>Part1:</strong>
  <%= @article.part1 %>
</p>

<p>
  <strong>Quiz1:</strong>
  <%= @article.quiz1 %>
</p>

<% @randomize_answers1.shuffle.each do |answer| %>
<% if answer == @article.q1answer %>
  <button id="quiz1"><%= answer %></button>
  <% else %>
  <button class="wrong"><%= answer %></button>
  <% end %>
<% end %>

<div class="part-two">


<p>
  <strong>Part2:</strong>
  <%= @article.part2 %>
</p>

<p>
  <strong>Quiz2:</strong>
  <%= @article.quiz2 %>
</p>

<% @randomize_answers2.shuffle.each do |answer| %>
<% if answer == @article.q2answer %>
  <button id="quiz2"><%= answer %></button>
  <% else %>
  <button class="wrong"><%= answer %></button>
  <% end %>
<% end %>

<div class="part-three">


<p>
  <strong>Part3:</strong>
  <%= @article.part3 %>
</p>

<p>
  <strong>Quiz3:</strong>
  <%= @article.quiz3 %>
</p>

<% @randomize_answers3.shuffle.each do |answer| %>
<% if answer == @article.q3answer %>
  <button id="quiz2"><%= answer %></button>
  <% else %>
  <button class="wrong"><%= answer %></button>
  <% end %>
<% end %>

<div class="video">

<!-- <p>
  <strong>Q3answer:</strong>
  <%= @article.q3answer %>
</p>

<p>
  <strong>Q3wrong1:</strong>
  <%= @article.q3wrong1 %>
</p>

<p>
  <strong>Q3wrong2:</strong>
  <%= @article.q3wrong2 %>
</p>
 -->

 <p>
  <strong>Video:</strong>
  <%= @article.video %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
