<div class="article-container">
  <div class="part-one">
    <div class="article-title">
      <h1><%= @article.player.name %></h1>
    </div>
    <p>
      <%= @article.part1 %>
    </p>

    <p>
      <strong>Quiz1:</strong>
      <%= @article.quiz1 %>
    </p>

    <% @randomize_answers1.shuffle.each do |answer| %>
    <% if answer == @article.q1answer %>
      <button id="quiz1" class="btn btn-primary"><%= answer %></button>
      <% else %>
      <button class="wrong btn btn-primary"><%= answer %></button>
      <% end %>
    <% end %>
  </div>

  <div class="part-two">
    <p>
      <strong>Part2:</strong>
      <%= @article.part2 %>
    </p>

    <p>
      <strong>Quiz2:</strong>
      <%= @article.quiz2 %>
    </p>

    <% @randomize_answers2.shuffle.each do |answer| %>
    <% if answer == @article.q2answer %>
      <button id="quiz2" class="btn btn-primary"><%= answer %></button>
      <% else %>
      <button class="wrong btn btn-primary"><%= answer %></button>
      <% end %>
    <% end %>
  </div>

  <div class="part-three">
    <p>
      <strong>Part3:</strong>
      <%= @article.part3 %>
    </p>

    <p>
      <strong>Quiz3:</strong>
      <%= @article.quiz3 %>
    </p>

    <% @randomize_answers3.shuffle.each do |answer| %>
    <% if answer == @article.q3answer %>
      <button id="quiz3" class="btn btn-primary"><%= answer %></button>
      <% else %>
      <button class="wrong btn btn-primary"><%= answer %></button>
      <% end %>
    <% end %>
  </div>

  <div class="video">
      <strong>Video:</strong>
      <div class="embed-responsive embed-responsive-16by9">
        <%= @article.video.html_safe %>
      </div>
  </div>
</div>