<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @article.video %>
</p>

<p>
  <strong>Part1:</strong>
  <%= @article.part1 %>
</p>

<p>
  <strong>Quiz1:</strong>
  <%= @article.quiz1 %>
</p>

<p>
  <strong>Q1answer:</strong>
  <%= @article.q1answer %>
</p>

<p>
  <strong>Q1wrong1:</strong>
  <%= @article.q1wrong1 %>
</p>

<p>
  <strong>Q1wrong2:</strong>
  <%= @article.q1wrong2 %>
</p>

<p>
  <strong>Part2:</strong>
  <%= @article.part2 %>
</p>

<p>
  <strong>Quiz2:</strong>
  <%= @article.quiz2 %>
</p>

<p>
  <strong>Q2answer:</strong>
  <%= @article.q2answer %>
</p>

<p>
  <strong>Q2wrong1:</strong>
  <%= @article.q2wrong1 %>
</p>

<p>
  <strong>Q2wrong2:</strong>
  <%= @article.q2wrong2 %>
</p>

<p>
  <strong>Part3:</strong>
  <%= @article.part3 %>
</p>

<p>
  <strong>Quiz3:</strong>
  <%= @article.quiz3 %>
</p>

<p>
  <strong>Q3answer:</strong>
  <%= @article.q3answer %>
</p>

<p>
  <strong>Q3wrong1:</strong>
  <%= @article.q3wrong1 %>
</p>

<p>
  <strong>Q3wrong2:</strong>
  <%= @article.q3wrong2 %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
