<!DOCTYPE html>
<html>
<head>
  <title>YayaSoccer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="background">

<div class="container">
	<div> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> <%= link_to "Edit User", edit_user_registration_path %> </div>
	
	<%= yield %>
	<p class="notice"><%= notice %></p> 
	<p class="alert"><%= alert %></p>
</div>

</body>
</html>
